aiofiles
altair
aplus
appdirs
argon2-cffi
astor
astroid
astropy
async-generator
asyncpg
attrs
backcall
base58
black
bleach
blinker
blis
botocore
cachetools
catalogue
certifi
cffi
chardet
check-requirements-txt
click
cloudpickle
colorama
cycler
cymem
dask
databases
DateTime
decorator
defusedxml
emoji
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
entrypoints
fastapi
flake8
future
gensim==3.8.3
gitdb
GitPython
gunicorn
h11
haversine
idna
ipydatawidgets
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
mistune
murmurhash
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
network
networkx
nltk
nltp
notebook
numpy
packaging
pandas
pandocfilters
parso
passlib
pathspec
pathy
pickleshare
Pillow
plac
preshed
progressbar2
prometheus-client
prompt-toolkit
protobuf
psutil
pycodestyle
pycparser
pydantic
pydeck
pyerfa
pyflakes
pyforest
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
python-utils
pytz
Winpython
pywinpty
PyYAML
pyzmq
regex
requests
s3transfer
scipy
Send2Trash
six
smart-open
smmap
spacy
spacy-legacy
spacy-streamlit
spacymoji
SQLAlchemy
srsly
starlette
stdlib-list
streamlit
tabulate
terminado
testpath
textblob
thinc
toml
toolz
torch
tornado
tqdm
traitlets
traittypes
typed-ast
typer
typing
typing-extensions
tzlocal
urllib3
uuid
uvicorn
validators
wasabi
watchdog
wcwidth
webencodings
websockets
widgetsnbextension
wrapt
zope.interface
